@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: #ff8254;
  justify-content: center;
  padding: 0 200px;
  text-align: center;
}

.landing {
  height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 0px 34px;
  color: #fff;
  background-position: center;
  background-size: cover;
  max-width: 827px;
  margin-bottom: 100px;
}

h1, h3 {
  font-family: Montserrat;
  color: #e2f3f5;
  display:flex;
  font-size: 100px;
}

h3 {
  font-size: 50px;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

button {
  width: 238px;
  height: 80px;
  border-radius: 100px;
  background-color: #1DB954;
  position: relative;
  display: block;
  color: #e2f3f5;
  font-family: Montserrat;
  padding: 015px 28px 21px 25px;
  transition: 0.1s;
  font-size: 18px;
  letter-spacing: 1.5px;
  margin: 47px auto 0;
  text-decoration: none;
}
