<h1>Users Page</h1>

<% users.forEach((user) => { %>
    <h2><%= user.username %></h2>
    <ul>
        <li>Email: <%= user.email %></li>
        <li>Id: <%= user.spotifyId %></li>
    </ul>
<% }) %>

<h1>Sync</h1>

<form action="/users/sync" method="POST">
    <div>
        <label for="user">Enter user to sync with: </label>
        <input type="text" name="user" placeholder="username to sync">
    </div>
    <button>Sync!</button>
</form>
