<h1>Users Page</h1>

<% users.forEach((user) => { %>
    <h2><%= user.username %></h2>
    <ul>
        <li>Email: <%= user.email %></li>
        <li>Id: <%= user.spotifyId %></li>
    </ul>
<% }) %>
