<h1>Login Page</h1>
<div>
    <a href="/auth/spotify">Login With Spotify</a>
</div>

<form action="/login" method="POST">
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" placeholder="username">
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" placeholder="password">
    </div>
    <button>Login</button>
</form>
